.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
docs/*.aux
docs/*.bbl
docs/*.blg
docs/*.fdb_latexmk
docs/*.fls
docs/*.log
docs/*.out
docs/*.toc
docs/*.synctex.gz
.DS_Store
